In [ ]:
print("hello, world")
print("MANJUNATH")
print("cse")

hello, world
MANJUNATH
cse

In [ ]:
print("i am student")

i am student

In [ ]:
x = 10 # Integer
y = 3.14 #Float
name = "Manjunath" #String
is_student = True #Boolean

In [ ]:
a = 10
print(a)

10

In [ ]:
a = 10
print(a)
b = 3.14
print(b)
name = "Manjunath"
print(name)
print(name + "is a teacher"+ name)

10
3.14
Manjunath
Manjunathis a teacherManjunath

In [ ]:
a = 10
b =3.14
name = 'rajesh'
print(a,b,name + "all are happy" + "all are not happy")

10 3.14 rajeshall are happyall are not happy

In [ ]:
print("hello,python")

hello,python

In [ ]:
name = input("enter student name: ")
print(name)

enter student name: rajesh
rajesh

In [ ]:
name = input("enter student name: ")
print("hello,"+name+ "!")

enter student name: manju
hello,manju!

In [ ]:
a = int(input("enter a number"))
b = int(input("enter a number"))
print(a+b)

enter a number2
enter a number4
6

In [ ]:
a = int(input("enter a number"))
b = int(input("enter a number"))
print(a-b)

enter a number8
enter a number9
-1

In [ ]:
a = int(input("enter a number"))
b = int(input("enter a number"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

enter a number4
enter a number6
10
-2
24
0.6666666666666666

In [ ]:
radius = float(input("enter radius"))
area = 3.14*radius*radius
print(area)

enter radius666666666666666
1.3955555555555528e+30

In [ ]:
radius = float(input("enter radius"))
pi = 3.14
area = pi * radius **2
print("area of circle is :", area)

enter radius30
area of circle is : 2826.0

In [ ]:
a = int(input("enter a number: "))
b = int(input("enter a number: "))
print(a +b)
print(a -b)
print(a *b)
print(a /b)
print(a %b)
print(a**b)

enter a number: 9
enter a number: 8
17
1
72
1.125
1
43046721

In [ ]:
celsius = float(input("enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("temperature in fahrenheit:", fahrenheit)

enter temperature in celsius: 85
temperature in fahrenheit: 185.0